*{
    box-sizing: border-box;
    margin: 0; 
    font-size: 18px; 
    font-family: 'Courier New', Courier, monospace;
}

body{
    background-color:#22223b;
    color: white;
}

.title{
    text-align: center;
    padding: 20px; 
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 3rem;
}

.container {
    display: flex; 
    text-align: center;
}

textarea {
    resize: none;
    margin: 0.5em auto 1em; 
    width: 50vw; 
    height: 25vh; 
    border-radius: 4px;
    padding: 0.5em;
}

.card {
    display: flex; 
    padding: 1.2em 2em; 
    margin: 1em auto 2em; 
    border-radius: 10px;
    color: black;
    flex-direction: column;
    background-color: #caf0f8;
    width: max-content; 
}


.card > .input-grp > label{
    display: block; 
    margin: 0.3em auto;     
}

.card > .input-grp > select{
    padding: 0.2em;
    width: 20%; 
    text-align: center;
    border-radius: 5px;
    background: white;
    margin-bottom: 0.7em;
}

.btn-grp {
    display: flex; 
    justify-content: center;
    margin: 1em auto;
}

#submit-btn{
    padding: 0.5em 1em; 
    font-size: 1.2rem;
    font-weight: 700;
    border: 2px solid #2b2d42; 
    border-radius: 0.6em;
    color: #2b2d42;
    background-color: white;
}

#submit-btn:hover{
    background: #2b2d42;
    color: white; 
}

.textarea-container{
    position: relative; 
}

#copy-btn{
    visibility: hidden; 
    font-size: 0.7rem;
}

.textarea-container > button{
    position: absolute;
    top: 0; 
    right: 0; 
}

#submit-btn:active, #copy-btn:active{
    transform: translateY(2px); 
}

@media all and (max-width: 720px){
    *{
        font-size: 16px; 
    }

    textarea{
        width: 70vw; 
        height: 35vh; 
    }
}